:root {
    --dark: #212121;
    --light: #eeeeee;
}

body{
    background-color: var(--light);
    color:var(--dark)
}

body.dark {
    background-color: var(--dark);
    color: var(--light);
}
button{
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    border: none;
    min-height: 40px;
    min-height: 40px;
    border-radius: 50%;
    font-size: 40px;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}